@model Payroll.Entities.Adjustment

@{
    ViewBag.Title = "Edit Adjustment";
}

<h2>Edit Adjustment</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Adjustment</h4>
        <hr />
        
        @Html.HiddenFor(model => model.AdjustmentId)
        <div class="form-group">
            @Html.LabelFor(model => model.AdjustmentName, "Adjustment Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.AdjustmentName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AdjustmentName)
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-4">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Adjustment")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}