@model Payroll.Models.Maintenance.LoanViewModel

@{
    ViewBag.Title = "Edit Loan";
}

<h2>Edit Loan</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Loan</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Loan.LoanId)

        <div class="form-group">
            @Html.LabelFor(model => model.Loan.LoanName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.Loan.LoanName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Loan.LoanName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Loan.Min, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.Loan.Min, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Loan.Min)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Loan.Max, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.Loan.Max, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Loan.Max)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Loan.LoanPeriod, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.Loan.LoanPeriodNumber, new { @class = "form-control", placeholder = "Number of period" })
            </div>
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.Loan.LoanPeriod, Model.LoanPaymentPeriod, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Loan.Interest, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                <div class="input-group">
                    @Html.TextBoxFor(model => model.Loan.Interest, new { @class = "form-control" })
                    <span class="input-group-addon">%</span>
                </div>
                @Html.ValidationMessageFor(model => model.Loan.Interest)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Loan")
</div>
