@model IEnumerable<Payroll.Models.Attendance.AttendanceViewModel>

<div class="Attendance t2">
    <table class="table table-responsive table-striped">
        <tr>
            <th>First Name</th>
            <th>Middle Name</th>
            <th>Last Name</th>
            <th>Clock In</th>
            <th>Clock Out</th>
            <th>Regular Hours</th>
            <th>Overtime</th>
            <th>Night Differential</th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            var clockout = item.ClockOut.HasValue ? item.ClockOut.Value.ToString() : "";

            <tr>
                <td>
                    @item.FirstName
                </td>
                <td>
                    @item.MiddleName
                </td>
                <td>
                    @item.LastName
                </td>
                <td>
                    @item.ClockIn
                </td>
                <td>
                    @clockout
                </td>
                <td>
                    @item.RegularHours
                </td>
                <td>
                    @item.Overtime
                </td>
                <td>
                    @item.NightDifferential
                </td>
                <td>
                    @if (item.Editable)
                    {
                        @Html.ActionLink("Edit", "EditAttendance", "Attendance", new { id = item.AttendanceId}, null)   
                    }
                </td>
            </tr>
        }
    </table>
    
    @Html.ActionLink("Export to Excel", "ExportToExcel", new { startDate = ViewBag.StartDate, endDate = ViewBag.EndDate }, new {@class = "btn btn-primary"})
</div>
