@using Payroll.Extension

@model Payroll.Models.Attendance.CreateAttendanceViewModel

@{
    ViewBag.Title = "Create Attendance";
}

<h2>Create Attendance</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    if (ViewData["CreateSuccess"] != null)
    {
        <div class="alert alert-success">@ViewData["CreateSuccess"]</div>
    }

    <div class="form-horizontal">
        <h4>Attendance</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.Label("Employee", new { @for = "EmployeeId", @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.Partial("_EmployeeTypeAhead", Model.EmployeeId)
                @Html.ValidationMessageFor(model => model.EmployeeId)
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.ClockIn, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DatePickerFor("ClockIn", DateTime.Now, new { @class = "form-control datepicker js-clockIn" })
                @Html.ValidationMessageFor(model => model.ClockIn)
            </div>
            <div class="col-md-2">
                
                <div class="input-group date timepicker">
                    @Html.TextBoxFor(model => model.ClockInTime, new { @class = "form-control js-clockInTime" })
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-time"></span>
                    </span>
                </div>
                
                @Html.ValidationMessageFor(model => model.ClockInTime)
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.ClockOut, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DatePickerFor("ClockOut", DateTime.Now, new { @class = "form-control datepicker js-clockOut" })
                @Html.ValidationMessageFor(model => model.ClockOut)
            </div>
            <div class="col-md-2">
                
                <div class="input-group date timepicker">
                    @Html.TextBoxFor(model => model.ClockOutTime, new { @class = "form-control js-clockOutTime" })
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-time"></span>
                    </span>
                </div>
                
                @Html.ValidationMessageFor(model => model.ClockOutTime)

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary js-createAttendance" />
            </div>
        </div>
    </div>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $.validator.setDefaults({ ignore: [] });
    </script>
    <script type="text/javascript" src="/Scripts/Employee/employeetypeahead.js"></script>
}
