@using Payroll.Extension

@{
    ViewBag.Title = "Total Hours Per Company";
}

<h2>Total Hours Per Company</h2>

<div ng-controller="ModalController as $ctrl" class="hours-per-company-modal">
    <form>
        <div class="form-horizontal">
            <div class="form-group">
                @Html.Label("Filter by Employee:", new { @for = "EmployeeId", @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.Partial("_EmployeeTypeAhead", 0)
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2" for="StartDate">Start Date: </label>
                <div class="col-md-4">
                    @Html.DatePickerFor("StartDate", DateTime.Now, new { @class = "form-control datepicker js-startDate" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2" for="EndDate">End Date: </label>
                <div class="col-md-4">
                    @Html.DatePickerFor("EndDate", DateTime.Now, new { @class = "form-control datepicker js-endDate" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="button" class="btn btn-primary" ng-click="$ctrl.search()">Submit</button>
                </div>
            </div>
        </div>
    </form>


    @*<div id="modal-container" class="modal fade" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
        </div>*@

    <div id="content"></div>
    @Html.Partial("CreateHoursPerCompany")
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $.validator.setDefaults({ ignore: [] });
    </script>
    <script type="text/javascript" src="/Scripts/Employee/employeetypeahead.js"></script>
    <script type="text/javascript" src="/Scripts/Attendance/employeehours.js"></script>

}
