@using Payroll.Extension

@{
    ViewBag.Title = "Total Hours Per Company";
}

<h2>Total Hours Per Company</h2>

<div ng-controller="ModalController as $ctrl" class="hours-per-company-modal">
    <form>
        <div class="form-horizontal">
            <div class="form-group">
                @Html.Label("Filter by Employee:", new { @for = "EmployeeId", @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.Partial("_EmployeeTypeAhead", 0)
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2" for="StartDate">Start Date: </label>
                <div class="col-md-4">
                    @Html.DatePickerFor("StartDate", DateTime.Now, new { @class = "form-control datepicker js-startDate" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2" for="EndDate">End Date: </label>
                <div class="col-md-4">
                    @Html.DatePickerFor("EndDate", DateTime.Now, new { @class = "form-control datepicker js-endDate" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="button" class="btn btn-primary" ng-click="$ctrl.search()">Submit</button>
                </div>
            </div>
        </div>
    </form>


    @*<div id="modal-container" class="modal fade" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
        </div>*@

    <div id="content"></div>

    <script type="text/ng-template" id="hoursPerCompanyModal.html">
        <div class="modal-header">
            <button type="button" class="close" ng-click="$ctrl.cancel()"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">{{$ctrl.modalTitle}}</h4>
        </div>
        <div class="modal-body js-modal" id="modal-body">
            <table class="table no-border">
                <tr class="hours-per-company-modal-header">
                    <td>
                        <h4>Regular Hours: {{$ctrl.regularHours}}</h4>
                    </td>
                    <td align="right"><input type="button" class="btn btn-primary" value="Add Company" ng-click="$ctrl.addCompany($ctrl.regularHoursPerCompany, $ctrl)"/></td>
                </tr>
                <tr ng-show="$ctrl.regularHoursPerCompany.length > 0">
                    <td colspan="2">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Hours Worked</th>
                                <th>Company</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in $ctrl.regularHoursPerCompany">
                                <td><input type="text" class="form-control" ng-model="item.Hours"/></td>
                                <td>
                                    <select ng-model="item.CompanyId" class="form-control" ng-options="option.CompanyId as option.CompanyName for option in $ctrl.companies">                                       
                                    </select>
                                </td>
                                <td><a href="javascript:void(0);" ng-click="$ctrl.remove($ctrl.regularHoursPerCompany, item)">Remove</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr class="hours-per-company-modal-header">
                    <td>
                        <h4>Overtime: {{$ctrl.overtime}}</h4>
                    </td>
                    <td align="right"><input type="button" class="btn btn-primary" value="Add Company" ng-click="$ctrl.addCompany($ctrl.overtimePerCompany, $ctrl)"/></td>
                </tr>
                <tr ng-show="$ctrl.overtimePerCompany.length > 0">
                    <td colspan="2">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Hours Worked</th>
                                <th>Company</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in $ctrl.overtimePerCompany">
                                <td><input type="text" class="form-control" ng-model="item.Hours"/></td>
                                <td>
                                    <select ng-model="item.CompanyId" class="form-control" ng-options="option.CompanyId as option.CompanyName for option in $ctrl.companies">                                       
                                    </select>
                                </td>
                                <td><a href="javascript:void(0);" ng-click="$ctrl.remove($ctrl.overtimePerCompany, item)">Remove</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr class="hours-per-company-modal-header">
                    <td>
                        <h4>Night Differential: {{$ctrl.nightDifferential}}</h4>
                    </td>
                    <td align="right"><input type="button" class="btn btn-primary" value="Add Company" ng-click="$ctrl.addCompany($ctrl.nightDifferentialPerCompany, $ctrl)"/></td>
                </tr>
                <tr ng-show="$ctrl.nightDifferentialPerCompany.length > 0">
                    <td colspan="2">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Hours Worked</th>
                                <th>Company</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in $ctrl.nightDifferentialPerCompany">
                                <td><input type="text" class="form-control" ng-model="item.Hours"/></td>
                                <td>
                                    <select ng-model="item.CompanyId" class="form-control" ng-options="option.CompanyId as option.CompanyName for option in $ctrl.companies">                                       
                                    </select>
                                </td>
                                <td><a href="javascript:void(0);" ng-click="$ctrl.remove($ctrl.nightDifferentialPerCompany, item)">Remove</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" type="button" ng-click="$ctrl.cancel()">Cancel</button>            
            <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">Save</button>
            
        </div>
    </script>
</div>

@*Move this to separate js file*@
<script>
    var app = angular.module('PayrollApp', ['ui.bootstrap']);

    app.controller('ModalController', function ($scope, $http, $uibModal, $log, $document, $compile) {
        var $ctrl = this;
        $ctrl.animationsEnabled = true;

        $ctrl.open = function (employeeId, date) {
            $http({
                method: 'POST',
                url: '/Attendance/CreateHoursPerCompany',
                params: { employeeId: employeeId, date: date }
            }).then(function (responseData) {
                var parentElem = angular.element($document[0].querySelector('.hours-per-company-modal'));
                var modalInstance = $uibModal.open({
                    animation: $ctrl.animationsEnabled,
                    ariaLabelledBy: 'modal-title',
                    ariaDescribedBy: 'modal-body',
                    templateUrl: 'hoursPerCompanyModal.html',
                    controller: 'ModalInstanceCtrl',
                    controllerAs: '$ctrl',
                    keyboard: false,
                    backdrop: 'static',
                    size: 'lg',
                    appendTo: parentElem,
                    resolve: {
                        responseData: function () {
                            return responseData;
                        }
                    }
                });

                modalInstance.result.then(function (selectedItem) {
                    $ctrl.selected = selectedItem;
                }, function () {
                    $log.info('Modal dismissed at: ' + new Date());
                });
            });
        };

        $scope.activateView = function (html) {
            $compile(html.contents())($scope);

            if (!$scope.$$phase)
                $scope.$apply();
        };

        $ctrl.search = function () {
            var startDate = $('.js-startDate').val();
            var endDate = $('.js-endDate').val();

            var employeeId = $('.js-employeeIdTypeAhead').val();
            if (employeeId == '' || employeeId == undefined) {
                employeeId = 0;
            }

            $http({
                method: 'GET',
                url: '/Attendance/HoursPerCompanyContent',
                params: { startDate: startDate, endDate: endDate, employeeId: parseInt(employeeId) }
            }).then(function (responseData) {

                var content = $('#content');
                content.html(responseData.data);

                var mController = angular.element(document.getElementsByClassName("hours-per-company-modal"));
                mController.scope().activateView(content);

            });
        };
    });

    app.controller('ModalInstanceCtrl', function ($uibModalInstance, responseData) {
        var $ctrl = this;

        $ctrl.regularHours = responseData.data.EmployeeTotalHoursViewModel.RegularHours;
        $ctrl.overtime = responseData.data.EmployeeTotalHoursViewModel.Overtime;
        $ctrl.nightDifferential = responseData.data.EmployeeTotalHoursViewModel.NightDifferential;
        $ctrl.modalTitle = responseData.data.ModalTitle;
        $ctrl.companies = responseData.data.Companies;
        $ctrl.regularHoursPerCompany = responseData.data.RegularHoursPerCompany;
        $ctrl.overtimePerCompany = responseData.data.OvertimePerCompany;
        $ctrl.nightDifferentialPerCompany = responseData.data.NightDifferentialPerCompany;

        $ctrl.addCompany = function(array, item) {
            array.push({
                TotalEmployeeHoursPerCompanyId: 0,
                TotalEmployeeHoursId: item.TotalEmployeeHoursPerCompanyId,
                CompanyId: 0,
                Hours: 0
            });
        }

        $ctrl.ok = function () {
            $uibModalInstance.close($ctrl.selected.item);
        };

        $ctrl.cancel = function () {
            $uibModalInstance.dismiss('cancel');
        };

        $ctrl.remove = function(array, item) {
            var index = array.indexOf(item);
            array.splice(index, 1);
        }
    });
</script>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $.validator.setDefaults({ ignore: [] });
    </script>
    <script type="text/javascript" src="/Scripts/Employee/employeetypeahead.js"></script>
    <script type="text/javascript" src="/Scripts/Attendance/employeehours.js"></script>

}
