@using Payroll.Extension

@{
    ViewBag.Title = "Total Hours Per Company";
}

<h2>Total Hours Per Company</h2>

<div ng-controller="ModalController as $ctrl" class="hours-per-company-modal" id="testmodal">
    <form>
        <div class="form-horizontal">
            <div class="form-group">
                @Html.Label("Filter by Employee:", new { @for = "EmployeeId", @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.Partial("_EmployeeTypeAhead", 0)
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2" for="StartDate">Start Date: </label>
                <div class="col-md-4">
                    @Html.DatePickerFor("StartDate", DateTime.Now, new { @class = "form-control datepicker js-startDate" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2" for="EndDate">End Date: </label>
                <div class="col-md-4">
                    @Html.DatePickerFor("EndDate", DateTime.Now, new { @class = "form-control datepicker js-endDate" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="button" class="btn btn-primary" ng-click="$ctrl.search()">Submit</button>
                </div>
            </div>
        </div>
    </form>


    @*<div id="modal-container" class="modal fade" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
        </div>*@

    <div id="content"></div>

    <script type="text/ng-template" id="hoursPerCompanyModal.html">
        <div class="modal-header">
            <button type="button" class="close" ng-click="$ctrl.cancel()"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">{{$ctrl.modalTitle}}</h4>
        </div>
        <div class="modal-body" id="modal-body">
            <table class="table">
                <tr>
                    <td>
                        <h4>Regular Hours: {{$ctrl.regularHours}}</h4>
                    </td>
                    <td align="right">
                        <input type="button" class="btn btn-primary" value="Add Company" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4>Overtime: {{$ctrl.overtime}}</h4>
                    </td>
                    <td align="right">
                        <input type="button" class="btn btn-primary" value="Add Company" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4>Night Differential: {{$ctrl.nightDifferential}}</h4>
                    </td>
                    <td align="right">
                        <input type="button" class="btn btn-primary" value="Add Company" />
                    </td>
                </tr>
            </table>
            @*<ul>
                    <li ng-repeat="item in $ctrl.items">
                        <a href="#" ng-click="$event.preventDefault(); $ctrl.selected.item = item">{{ item }}</a>
                    </li>
                </ul>*@
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
        </div>
    </script>
</div>

@*Move this to separate js file*@
<script>
    var app = angular.module('PayrollApp', ['ui.bootstrap']);

    app.controller('ModalController', function ($scope, $http, $uibModal, $log, $document, $compile) {
        var $ctrl = this;
        $ctrl.animationsEnabled = true;

        $ctrl.open = function (employeeId, date) {
            $http({
                method: 'POST',
                url: '/Attendance/CreateHoursPerCompany',
                params: { employeeId: employeeId, date: date }
            }).then(function (responseData) {
                var parentElem = angular.element($document[0].querySelector('.hours-per-company-modal'));
                var modalInstance = $uibModal.open({
                    animation: $ctrl.animationsEnabled,
                    ariaLabelledBy: 'modal-title',
                    ariaDescribedBy: 'modal-body',
                    templateUrl: 'hoursPerCompanyModal.html',
                    controller: 'ModalInstanceCtrl',
                    controllerAs: '$ctrl',
                    keyboard: false,
                    backdrop: 'static',
                    size: 'lg',
                    appendTo: parentElem,
                    resolve: {
                        data: function () {
                            var viewModel = {
                                modalTitle: responseData.data.ModalTitle,
                                regularHours: responseData.data.EmployeeTotalHoursViewModel.RegularHours,
                                overtime: responseData.data.EmployeeTotalHoursViewModel.Overtime,
                                nightDifferential: responseData.data.EmployeeTotalHoursViewModel.NightDifferential
                            };

                            return viewModel;
                        }
                    }
                });

                modalInstance.result.then(function (selectedItem) {
                    $ctrl.selected = selectedItem;
                }, function () {
                    $log.info('Modal dismissed at: ' + new Date());
                });
            });
        };

        $scope.activateView = function (html) {
            $compile(html.contents())($scope);

            if (!$scope.$$phase)
                $scope.$apply();
        };

        $ctrl.search = function () {
            var startDate = $('.js-startDate').val();
            var endDate = $('.js-endDate').val();

            var employeeId = $('.js-employeeIdTypeAhead').val();
            if (employeeId == '' || employeeId == undefined) {
                employeeId = 0;
            }

            $http({
                method: 'GET',
                url: '/Attendance/HoursPerCompanyContent',
                params: { startDate: startDate, endDate: endDate, employeeId: parseInt(employeeId) }
            }).then(function (responseData) {

                var content = $('#content');
                content.html(responseData.data);

                var mController = angular.element(document.getElementById("testmodal"));
                mController.scope().activateView(content);

            });
        };
    });

    app.controller('ModalInstanceCtrl', function ($uibModalInstance, data) {
        var $ctrl = this;
        //$ctrl.items = data.items;
        $ctrl.regularHours = data.regularHours;
        $ctrl.overtime = data.overtime;
        $ctrl.nightDifferential = data.nightDifferential;
        $ctrl.modalTitle = data.modalTitle;
        //$ctrl.selected = {
        //    item: $ctrl.items[0]
        //};

        $ctrl.ok = function () {
            $uibModalInstance.close($ctrl.selected.item);
        };

        $ctrl.cancel = function () {
            $uibModalInstance.dismiss('cancel');
        };
    });
</script>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $.validator.setDefaults({ ignore: [] });
    </script>
    <script type="text/javascript" src="/Scripts/Employee/employeetypeahead.js"></script>
    <script type="text/javascript" src="/Scripts/Attendance/employeehours.js"></script>

}
