@model Payroll.Models.Payroll.EmployeeAdjustmentViewModel

@if (ViewBag.EditAdjustment == true)
{
    <p>
        @Html.ActionLink("Create New", "CreateAdjustment", new { date = Model.Date })
    </p>
}


<table class="table table-responsive table-striped table-hover">
    <tr>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>No of Adjustments</th>
        <th></th>
    </tr>

    @foreach (var item in Model.EmployeeAdjustments.OrderBy(x => x.Employee.LastName))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeAdjustmentCount)
            </td>
            <td>
                @if (ViewBag.EditAdjustment == true)
                {
                    @Html.ActionLink("Create Adjustment", "CreateAdjustment", new { date = Model.Date, id = item.Employee.EmployeeId })
                }

                @if (item.EmployeeAdjustmentCount > 0)
                {
                    if(ViewBag.EditAdjustment == true)
                    {
                        <span>|</span>
                    }

                    <a href="javascript:void(0)" class="js-viewAdjustment" data-employeeid="@item.Employee.EmployeeId">View Adjustments</a>
                }
            </td>
        </tr>
    }
</table>