@using Payroll.Common.Extension
@model Payroll.Models.Payroll.PayrollViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Payroll</h2>

@using (Html.BeginForm("Index", "Payroll", FormMethod.Get))
{
    <div class="row b2">
        <div class="col-md-2">
            Next payroll Start Date: <strong>@Model.StartDate</strong>
            Next payroll End Date: <strong>@Model.EndDate</strong>
        </div>
        <div class="col-md-4">
            @*@Html.HiddenFor(model => model.Date)*@
            <button type="submit" class="btn btn-primary">Generate Payroll</button>
        </div>
    </div>
}


@if (Model.Payrolls.Any())
{
    <table class="table table-responsive">
        <tr>
            <th>Name</th>
            <th>Gross Pay</th>
            <th>Total Deduction</th>
            <th>Net Pay</th>
            <th></th>
        </tr>

        @foreach (var item in Model.Payrolls)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @item.TotalGross.FormatAmount()
                </td>
                <td>
                    -@item.TotalDeduction.FormatAmount()
                </td>
                <td>
                    @item.TotalNet.FormatAmount()
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </table>
    
    @Html.Partial("Pagination", Model.Pagination)
}


@section scripts
{
    <script type="text/javascript" src="/Scripts/pagination.js"></script>
}
