@model IEnumerable<Payroll.Repository.Models.User.UserRoleDao>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Register New", "Register")
</p>
<table class="table table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>Roles</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @String.Join(",", item.Roles.Select(x => x.Name))
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { userId = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { userId = item.Id }, new { @class = "js-maintenanceDelete" })
        </td>
    </tr>
}

</table>

@section scripts
{
    <script type="text/javascript" src="/Scripts/Maintenance/maintenance.js"></script>
}
